@import '~react-pointerlock/dist/react-pointerlock.css';

.WebglGeometries {
  position: relative;
}

.PointerLocker {
  width: 100%;
  height: 100%;
}

.WebglGeometries canvas{
  width: 100%;
  height: 600px;
}

.WebglGeometries #select-geometry {
  margin-bottom: 20px;
}
